

    <div class="wrapper ">
           
            <app-sidebar></app-sidebar>
      
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:void(0);">FAQ</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="sr-only">Toggle Nav</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <app-side-icon></app-side-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid pt-4">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <h4 class="card-title font-weight-bold">Static Content Management</h4>
                            <p class="card-category">FAQ</p>
                        </div>
                        <div class="card-body">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default mb-2">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <div class="d-flex justify-content-between align-items-baseline px-2">
                                            <strong>Q.1</strong>
                                            <h4 class="panel-title flex-fill m-0">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="more-less fa fa-plus"></i>
                                                    <span>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing</span>
                                                </a>
                                            </h4>
                                            <div class="button_check d-inline-flex align-items-center">
                                                <div class="form-check m-0">
                                                    <label class="form-check-label mb-3 pr-1">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <button class="btn btn-no-style text-dark"><i class="fa fa-trash text-danger"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <h5 class="my-0 font-weight-bold">Answer</h5>
                                            <div>Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.</div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <div class="d-flex justify-content-between align-items-baseline px-2">
                                            <strong>Q.2</strong>
                                            <h4 class="panel-title flex-fill m-0">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    <i class="more-less fa fa-plus"></i>
                                                    <span>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing</span>
                                                </a>
                                            </h4>
                                            <div class="button_check d-inline-flex align-items-center">
                                                <div class="form-check m-0">
                                                    <label class="form-check-label mb-3 pr-1">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <button class="btn btn-no-style text-dark"><i class="fa fa-trash text-danger"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <h5 class="my-0 font-weight-bold">Answer</h5>
                                            <div>Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.</div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <div class="d-flex justify-content-between align-items-baseline px-2">
                                            <strong>Q.3</strong>
                                            <h4 class="panel-title flex-fill m-0">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                    <i class="more-less fa fa-plus"></i>
                                                    <span>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing</span>
                                                </a>
                                            </h4>
                                            <div class="button_check d-inline-flex align-items-center">
                                                <div class="form-check m-0">
                                                    <label class="form-check-label mb-3 pr-1">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign">
                                                        <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <button class="btn btn-no-style text-dark"><i class="fa fa-trash text-danger"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <h5 class="my-0 font-weight-bold">Answer</h5>
                                            <div>Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.</div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div><!-- panel-group -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright text-left">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Anzen
                    </div>

                </div>
            </footer>
        </div>
    </div>
    <app-logout></app-logout>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    <!-- <script src="../assets/js/plugins/chartist.min.js"></script> -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
    <script src="../assets/demo/demo.js"></script>
    <script>
    function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('fa-plus fa-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
  </script>


