<div class="wrapper ">
           
  <app-sidebar></app-sidebar>

<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-absolute fixed-top ">
      <div class="container-fluid">
          <div class="navbar-wrapper">
              <a class="navbar-brand">ADD FAQ</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="sr-only">Toggle Nav</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
           
               
                     
                      <app-side-icon></app-side-icon>
             
          </div>
      </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">
      <div class="container-fluid pt-4">
          <div class="card">
              <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title font-weight-bold">Static Content Management</h4>
                  <p class="card-category">Add Faq</p>
              </div>
              <div class="card-body">
                      <form class="form" [formGroup]='passwordForm'>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <div class="form-group bmd-form-group">
                                      <!-- <label class="bmd-label-floating">Enter Question </label> -->
                                      <input type="text" class="form-control" formControlName='que' placeholder='Enter Question '>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <div class="form-group bmd-form-group">
                                      <!-- <label class="bmd-label-floating"> Write you answer</label> -->
                                      <input class="form-control" rows="5" formControlName='ans' placeholder='Write you answer'>
                                  </div>
                              </div>
                          </div>
                      </div>
                          <div class="col-md-12 text-md-right">
                              <div class="form-group bmd-form-group d-inline-flex">
                                  <button type="submit" class="btn btn-primary " (click)="save(passwordForm.value)" [disabled]="passwordForm.invalid ">SAVE </button>
                              </div>
                       
                      </div>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
</div>
<app-logout></app-logout>
