
<!-- 
    <div class="card_form">
        <header class="card__thumb">
            <a href="javascript:void(0);"><img src="../assets/img/login-bg.png" id="computercard" /></a>

            <div>
                <form class="form" [formGroup]="formgroup">
                    <h4 class="text-white text-center font-weight-bold mb-3">Forgot Password?</h4>
                    <input type="text" placeholder="Email" [formControl]="formgroup.controls['email']" class="form-control"/>
                    <p *ngIf="formgroup.controls['email'].hasError('required') && formgroup.controls['email'].dirty" style="color:red;font-size:14px;">*Email is required</p>
                    <p *ngIf="formgroup.controls['email'].hasError('pattern') && formgroup.controls['email'].dirty" style="color:red;font-size:14px;">*Please enter valid email.</p>
                </form>
            </div>
        </header>
        <div class="p-4 pb-0 text-center">
            <span class="fa fa-user"></span> <a [routerLink]="['/login']">Back to Login</a>
        </div>
        <footer class="card__body">
            <!-- <a href="login.html" class="btn btn-primary">SUBMIT</a> -->
            <!-- <button class="btn btn-primary full-width" type="submit"  [disabled]="!formgroup.valid" (click)="submit(formgroup.value)">SUBMIT</button>

        </footer>

        
    </div>  -->
   
<!-- <div class="card_form">

     <img src="../assets/img/LOGIN8.png" class="img img-responsive" height="100px" width="100%" /> 

    <a href="javascript:void(0);">
        <img src="../assets/img/login-bg.png" id="computercard" />
    </a>
    <div>
        <form [formGroup]="formgroup">

            <div class="row">
                <div class="col-sm-12">
                    <header>
                        <input type="text" placeholder="Email" [formControl]="formgroup.controls['email']" class="form-control" />
                        <p *ngIf="formgroup.controls['email'].hasError('required') && formgroup.controls['email'].dirty" style="color:red;font-size:14px;">*Email is required</p>
                        <p *ngIf="formgroup.controls['email'].hasError('pattern') && formgroup.controls['email'].dirty" style="color:red;font-size:14px;">*Please enter valid email.</p>


                        <input type="password" placeholder="Password" minlength='8' maxlength='16' [formControl]="formgroup.controls['pass']" class="form-control"
                        />
                        <p *ngIf=" formgroup.controls['pass'].hasError('maxlength') && formgroup.controls['pass'].dirty" style="color:red;font-size:14px;">*Maximum length should be of 16 characters</p>
                        <p *ngIf="formgroup.controls['pass'].hasError('minlength') && formgroup.controls['pass'].dirty" style="color:red;font-size:14px;">*Minimum length should be of 8 characters</p>
                        <p *ngIf="formgroup.controls['pass'].hasError('required') && formgroup.controls['pass'].dirty" style="color:red;font-size:14px;">*Password is required</p>

                    </header>
                </div>
            </div>
            <br/>


            <br/>

            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <span class="fa fa-lock"></span>
                        <a [routerLink]="['/forgot-password']">Forgot Password</a>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary full-width" [disabled]="!formgroup.valid" (click)="login(formgroup.value)">LOGIN</button>

                </div>
            </div>


        </form>
    </div>




</div> -->
<br/><br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<br/>
<div class="well well-sm">
<div class="login-wrapper overflow-h">
        <div class="container-common">
             
           <div class="row justify-content-center">
          <div class="col-md-4" style="background-color: white">
            <div class="d-flex align-items-center minheight70vh">
              <form class="login_box_outer w-100" action="login-validation.html">
                <div class="custom-border-box  border-0">
                    <div class="login-right-block">
                      <div class="login-heading">
                         <h2 class="text-center pb-3"><b>Forgot Password?</b></h2>
                      </div>
                      <div class="login-box-body">
                        <div class="form-group">
                                <input type="text" placeholder="Email" [formControl]="formgroup.controls['email']" class="form-control" />
                                <p *ngIf="formgroup.controls['email'].hasError('required') && formgroup.controls['email'].dirty" style="color:red;font-size:14px;">*Email is required</p>
                                <p *ngIf="formgroup.controls['email'].hasError('pattern') && formgroup.controls['email'].dirty" style="color:red;font-size:14px;">*Please enter valid email.</p>
        
                          </div>
                          <!-- <div class="form-group">
                                <input type="password" placeholder="Password" minlength='8' maxlength='16' [formControl]="formgroup.controls['pass']" class="form-control"
                                />
                                <p *ngIf=" formgroup.controls['pass'].hasError('maxlength') && formgroup.controls['pass'].dirty" style="color:red;font-size:14px;">*Maximum length should be of 16 characters</p>
                                <p *ngIf="formgroup.controls['pass'].hasError('minlength') && formgroup.controls['pass'].dirty" style="color:red;font-size:14px;">*Minimum length should be of 8 characters</p>
                                <p *ngIf="formgroup.controls['pass'].hasError('required') && formgroup.controls['pass'].dirty" style="color:red;font-size:14px;">*Password is required</p>
                          </div> -->
                          <!-- <div class="form-group row"> -->
                              <!-- <div class="col-6">
                                <div class="remember-text ">
                                  <label class="checkbox-design">
                                    <input type="checkbox"/><span></span>Remember me
                                  </label>
                                </div>
                              </div> -->
                             <!--  <div class="text-right">
                                 <a href="forgot-password.html" class="forget-pass">Forgot Password?</a>
                              </div> -->
                              <!-- <div class="col-lg-12 pull-right">
                                <div class="forgot-links pull-right">
                                        <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </div>
                              </div>
                          </div> -->
                        </div>
                        <div class="pb-3 text-center" style="text-align:right !important">
                                 <a [routerLink]="['/login']" >Back to Login</a>
                            </div>
                        <button class="btn btn-primary full-width" style="width:100%" type="submit"  [disabled]="!formgroup.valid" (click)="submit(formgroup.value)">SUBMIT</button>
                        <!-- <button class="btn btn-primary full-width" style="width:100%" [disabled]="!formgroup.valid" (click)="submit(formgroup.value)">SUBMIT</button> -->
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    
        </div>
      </div>
    </div>

